<div class='projects-container'>
  <div class="project-header">
    <h1 @slide *ngIf='inView' class='heading'>Projects</h1>
    <div @slideOpposite *ngIf='inView' class="bar"></div>
  </div>
  
  <div class='project-container' [@slideUp]='selected ? "showDetails" : "hideDetails"'>
    <div @staggerGrow *ngIf='projectView' class='row'>
      <div class='cards col-lg-4 col-md-12 col-sm-12 col-12'>
        <div id='stocks'>
          <h3>S&amp;P 500 Analyzer</h3>
          <span>  
            <button (click)='showDetails("stocks")' mat-button>Details</button>
            <button (click)='navigateToGithub("python_stonks")' mat-button>Github</button>
          </span>  
        </div>
      </div>
      <div class='cards col-lg-4 col-md-12 col-sm-12 col-12'>
        <div id='expense'>
          <h3>Expense Report App</h3>
          <span>  
            <button (click)='showDetails("expense")' mat-button>Details</button>
            <button (click)='navigateToGithub("expenseReportApp")' mat-button>Github</button>
            <button (click)='navigateToWebsite()' mat-button>Website</button>
          </span>  
        </div>
      </div>
      <div class='cards col-lg-4 col-md-12 col-sm-12 col-12'>
        <div id='d3'>
          <h3>D3 Charts</h3>
          <span>  
            <button (click)='showDetails("d3")' mat-button>Details</button>
            <button (click)='navigateToGithub("d3_graphs")' mat-button>Github</button>
          </span>  
        </div>
      </div>
    </div>
  </div>

  <div class='detail-view' style='position:relative;'>
    <div @slide *ngIf='stocks' class="project-detail" style='position:absolute; top:25%; left:15%; right:15%;'>
        <h4>Python Stock Market Analysis</h4>  
        <p>
          Basic S&amp;P 500 Analysis tool.<br>
          Constant work in progress as I fine-tune the classifiers and learn more.<br>
          Complete with:
        </p>
        <ul>
          <li>Local caching via pickle files</li>
          <li>Web Scraper to get financial info on all 500 companies</li>
          <li>Graphing</li>
          <li>Rudimentary machine learning predictions</li>
        </ul>
        <h6>Technologies Used</h6>
        <ul>
          <li>Python</li>
          <li>Pandas</li>
          <li>SciKitLearn</li>
        </ul>
    </div>
    <div @slide *ngIf='expense' class="project-detail" style='position:absolute; top:25%; left:15%; right:15%;'> 
        <h4>Expense Report Web App</h4>  
        <p>
          Personal project using React.js, Node/Express and a MySQL database to hold an individual's purchase/expense history across stores.<br>
          Good practice for building a front-end with React, and communicating with a backend and database.<br>
          <a href="http://www.expensereport.link/">Expense Report App</a>
        </p>
        <h6>Technologies Used</h6>
        <ul>
          <li>JavaScript</li>
          <li>React</li>
          <li>Node.js</li>
          <li>ExpressJS</li>
        </ul>
    </div>
    <div @slide *ngIf='d3' class="project-detail" style='position:absolute; top:25%; left:15%; right:15%;'>
        <h4>D3 Charts</h4>  
        <p>
          Simple Demo of D3's charting capabilities<br>
          Comes with a custom formatted JSON file to input and output interactive graphs<br>
        </p>
        <h6>Technologies Used</h6>        
        <ul>
          <li>Javascript</li>
          <li>D3</li>
        </ul>
    </div> 
  </div>
</div>
