<div class="projects-container">
  <div class="project-header">
    <h1 @slide *ngIf="inView" class="heading">Projects</h1>
    <div @slideOpposite *ngIf="inView" class="bar"></div>
  </div>

  <div
    class="project-container"
    [@slideUp]="selected ? 'showDetails' : 'hideDetails'"
  >
    <div @staggerGrow *ngIf="projectView" class="row">
      <div class="cards col-lg-4 col-md-12 col-sm-12 col-12">
        <div id="stocks">
          <h3>S&amp;P 500 Analyzer</h3>
          <span>
            <button (click)="showDetails('stocks')" mat-button>Details</button>
            <button (click)="navigateToGithub('python_stonks')" mat-button>
              Github
            </button>
          </span>
        </div>
      </div>
      <div class="cards col-lg-4 col-md-12 col-sm-12 col-12">
        <div id="chat_app">
          <h3>Chat Room App</h3>
          <span>
            <button (click)="showDetails('chat_app')" mat-button>
              Details
            </button>
            <button
              (click)="navigateToGithub('python_websockets_chatroom_app')"
              mat-button
            >
              Github
            </button>
            <!--<button (click)='navigateToWebsite()' mat-button>Website</button>-->
          </span>
        </div>
      </div>
      <div class="cards col-lg-4 col-md-12 col-sm-12 col-12">
        <div id="d3">
          <h3>D3 Charts</h3>
          <span>
            <button (click)="showDetails('d3')" mat-button>Details</button>
            <button (click)="navigateToGithub('d3_graphs')" mat-button>
              Github
            </button>
          </span>
        </div>
      </div>
      <div class="cards col-lg-4 col-md-12 col-sm-12 col-12">
        <div id="luxor">
          <h3>Luxor Component Library</h3>
          <span>
            <button (click)="showDetails('luxor')" mat-button>Details</button>
            <button
              (click)="navigateToGithub('luxor-component-library')"
              mat-button
            >
              Github
            </button>
          </span>
        </div>
      </div>
      <div class="cards col-lg-4 col-md-12 col-sm-12 col-12">
        <div id="spotify">
          <h3>Spotify Album Visualizer</h3>
          <span>
            <button (click)="showDetails('spotify')" mat-button>Details</button>
            <button (click)="navigateToGithub('spotify_visualizer')" mat-button>
              Github
            </button>
          </span>
        </div>
      </div>
      <div class="cards col-lg-4 col-md-12 col-sm-12 col-12">
        <div id="blackjack">
          <h3>Command Line Blackjack</h3>
          <span>
            <button (click)="showDetails('blackjack')" mat-button>
              Details
            </button>
            <button (click)="navigateToGithub('cli_blackjack')" mat-button>
              Github
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="detail-view" style="position: relative">
    <div
      @slide
      *ngIf="stocks"
      class="project-detail"
      style="position: absolute; top: 25%; left: 15%; right: 15%"
    >
      <h4>Python Stock Market Analysis</h4>
      <p>
        Basic S&amp;P 500 Analysis tool.<br />
        <br />
        Complete with:
      </p>
      <ul>
        <li>Local caching via pickle files</li>
        <li>Web Scraper to get financial info on all 500 companies</li>
        <li>Graphing</li>
        <li>Rudimentary machine learning predictions</li>
      </ul>
      <h6>Technologies Used</h6>
      <ul>
        <li>Python</li>
        <li>Pandas</li>
        <li>SciKitLearn</li>
      </ul>
    </div>
    <div
      @slide
      *ngIf="chat_app"
      class="project-detail"
      style="position: absolute; top: 25%; left: 15%; right: 15%"
    >
      <h4>Chat Room Web App</h4>
      <p>
        Personal project using Python FastAPI, WebSockets and a MongoDB
        database.<br />
        Essentially a quick chat room type app. WebSockets maintains instant
        messaging chat and MongoDB holds the user's personal info and chat
        logs.<br />
      </p>
      <h6>Technologies Used</h6>
      <ul>
        <li>Python</li>
        <li>FastAPI</li>
        <li>MongoDB</li>
        <li>WebSockets</li>
      </ul>
    </div>
    <div
      @slide
      *ngIf="d3"
      class="project-detail"
      style="position: absolute; top: 25%; left: 15%; right: 15%"
    >
      <h4>D3 Charts</h4>
      <p>
        Simple Demo of D3's charting capabilities<br />
        Comes with a custom formatted JSON file to input and output interactive
        graphs<br />
      </p>
      <h6>Technologies Used</h6>
      <ul>
        <li>Javascript</li>
        <li>D3</li>
      </ul>
    </div>
    <div
      @slide
      *ngIf="luxor"
      class="project-detail"
      style="position: absolute; top: 25%; left: 15%; right: 15%"
    >
      <h4>Luxor Component Library</h4>
      <p>
        Basic React component library with Button, Box, Stack, and Row and
        always expanding to add more widgets/components.
        <br />
      </p>
      <h6>Technologies Used</h6>
      <ul>
        <li>Javascript (React)</li>
        <li>RapidAPI (different widget access)</li>
      </ul>
    </div>
    <div
      @slide
      *ngIf="spotify"
      class="project-detail"
      style="position: absolute; top: 25%; left: 15%; right: 15%"
    >
      <h4>Spotify Album Visualizer</h4>
      <p>
        Using the SpotifyAPI to get the metrics of the top albums and dispay
        each metric in comparison with other top albums.
        <br />
      </p>
      <h6>Technologies Used</h6>
      <ul>
        <li>Spotify API</li>
        <li>Python</li>
        <li>Matplotlib</li>
      </ul>
    </div>
    <div
      @slide
      *ngIf="blackjack"
      class="project-detail"
      style="position: absolute; top: 25%; left: 15%; right: 15%"
    >
      <h4>Command Line Blackjack</h4>
      <p>
        Simple blackjack game hacked together to play in the terminal or shell.
        Used to get familiar with object oriented Python.
        <br />
      </p>
      <h6>Technologies Used</h6>
      <ul>
        <li>Python</li>
      </ul>
    </div>
  </div>
</div>
