<div class='projects-container'>
  <div class="project-header">
    <h1 @slide *ngIf='inView' class='heading'>Projects</h1>
    <div @slideOpposite *ngIf='inView' class="bar"></div>
  </div>
  
  <div class='container' [@slideUp]='selected ? "showDetails" : "hideDetails"'>
    <div class='row'>
      <div class='col-lg-4 col-md-12 col-sm-12 col-12'>
        <div>
          <h3>OpenSSL Message Board</h3>
          <span>  
            <button (click)='showDetails("openssl")' mat-button>Details</button>
            <button (click)='navigateToGithub("OpenSSLMessageBoard")' mat-button>Github</button>
          </span>  
        </div>
      </div>
      <div class='col-lg-4 col-md-12 col-sm-12 col-12'>
        <div>
          <h3>Expense Report Web App</h3>
          <span>  
            <button (click)='showDetails("expense")' mat-button>Details</button>
            <button (click)='navigateToGithub("expenseReportApp")' mat-button>Github</button>
          </span>  
        </div>
      </div>
      <div class='col-lg-4 col-md-12 col-sm-12 col-12'>
        <div>
          <h3>Movie Scraping API</h3>
          <span>  
            <button (click)='showDetails("movie")' mat-button>Details</button>
            <button (click)='navigateToGithub("movieScraper")' mat-button>Github</button>
          </span>  
        </div>
      </div>
    </div>
  </div>

  <div class='detail-view' style='position:relative;'>
    <div @slide *ngIf='openssl' class="project-detail" style='position:absolute; top:25%; left:15%; right:15%;'>
        <h4>OpenSSL Message Board</h4>  
        <p>
          Simple multithreaded client/server message board application with login.<br>
          Passwords are salted and hashed in the passwords file.<br>
          Currently runs as CLI app.<br> 
        </p>
        <h6>Technologies Used</h6>
        <ul>
          <li>Python</li>
          <li>Sockets API</li>
          <li>Passlib password hashing library</li>
        </ul>
    </div>
    <div @slide *ngIf='expense' class="project-detail" style='position:absolute; top:25%; left:15%; right:15%;'> 
        <h4>Expense Report Web App</h4>  
        <p>
          Personal project using React.js, Node/Express and a MySQL database to hold an individual's purchase/expense history across stores.<br>
          Good practice for building a front-end with React, and communicating with a backend and database.
        </p>
        <h6>Technologies Used</h6>
        <ul>
          <li>JavaScript</li>
          <li>React</li>
          <li>Node.js</li>
          <li>ExpressJS</li>
        </ul>
    </div>
    <div @slide *ngIf='movie' class="project-detail" style='position:absolute; top:25%; left:15%; right:15%;'>
        <h4>Movie Scraper</h4>  
        <p>
          Scrape theater, movie and time from IMDB using python BeautifulSoup4 library.<br>
          Clean scraped data and use as REST API Endpoint.<br>
          Initial GET request returns JSON array of all nearby movie theatres, the movies and their showtimes.
        </p>
        <h6>Technologies Used</h6>        
        <ul>
          <li>Python</li>
          <li>BeautifulSoup4</li>
          <li>Flask</li>
        </ul>
    </div> 
  </div>
</div>
