<div class='contact-container row'>
    <div class='main'>
        <div class='cform'>
            <div class="contact-header">
                <h1 @slide *ngIf='inView' class='heading'>Contact</h1>
                <div @slideOpposite *ngIf='inView' class="bar"></div>
            </div>
            <div class='contact-statement'>
                <h3>Have a question or want to collaborate?</h3>
                <h6>
                    I am currently open for freelance work, and always looking to collaborate with other designers and developers.
                </h6>
            </div>

            <div class='contact-button'>
                <a href="mailto:joeph465@gmail.com" target="_blank" rel="nofollow noopener noreferrer" class='getInTouch' title='mailto:joeph465@gmail.com'>Get In Touch</a>
            </div>


        </div>
    </div>

   <div class="contact-footer">
       <div>
           Designed and Built by Joseph Moussa
       </div>
   </div> 

    <div class='footer'>
        <div class='links'>
            <div>
                <a (click)='resume()' style='cursor: pointer;'>
                    <img src="../../assets/images/resume.svg" alt="resume" title='Resume'>
                    <span class='label'>
                        Resume
                    </span>
                </a>
            </div>
            <div>
                <a href='https://linkedin.com/in/jmoussa'>
                    <img src="../../assets/images/linkedin.svg" alt="linkedin" title='LinkedIn'>
                    <span class='label'>
                        LinkedIn 
                    </span>
                </a>
            </div>
            <div>
                <a href='https://github.com/jmoussa'>
                    <img src="../../assets/images/github.svg" alt="github" title='Github'>
                    <span class='label'>
                        Github 
                    </span>
                </a>  
           </div>
            <div>
                <a href='https://twitter.com/j__moussa'>
                    <img src="../../assets/images/twitter.svg" alt="twitter" title='Twitter'>
                    <span class='label'>
                        Twitter
                    </span>
                </a>   
           </div> 
            <div>
                <a href='https://instagram.com/j__moussa'>
                    <img src="../../assets/images/insta.svg" alt="instagram" title='Instagram'>
                    <span class='label'>
                        Instagram
                    </span>
                </a>    
           </div> 
            <!--
            <div>
                <a href='https://facebook.com/joeph465'>
                    <img src="../../assets/images/facebook.svg" alt="facebook" title='Facebook'>
                </a> 
            </div>--> 
        </div>       
        <div class='line'></div>
    </div>
</div>