<div class='app-container' (scroll)="onWindowScroll($event);">
  <div class='jumbotron' id='home'>
    <div class='name fade-in'>
      <h1><strong>Joseph Moussa</strong></h1>
      <h3>Full Stack Developer.</h3> 
    </div>
    <div class='navContainer d-none d-lg-block'>
      <app-sticky-navbar id='navbar'></app-sticky-navbar>
    </div>
    <div class='arrowContainer d-block d-lg-none align-bottom'>
      <a href='#bio'>
        continue
      </a>
    </div>
  </div> 
    
  <div class='body' id='bio'>
    <app-bio></app-bio>
  </div>

  <div class='body' id='projects'>
    <app-projects></app-projects>
  </div>
 
  <div class='body' id='services'>
    <app-services></app-services>
  </div>

  <div class='body' id='contact'>
    <app-contact></app-contact>
  </div>
</div>