.app-container {
  // background-color: black;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  //max-width: 1080px;
  //text-align: center;
  /*
    @-webkit-keyframes slide {
        from { background-position: 0 0; }
        to { background-position: 1000px 0px; }
    }
    */
  .jumbotron {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    min-height: 860px;
    width: 100vw;
    max-width: 100%;
    background-color: rgb(50, 173, 170);
    background-image: url("../assets/black-felt.png");
    position: relative;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;

    .arrowContainer {
      width: 100%;
      height: 10%;
      position: absolute;
      bottom: 0px;
      text-align: center;
      z-index: 100;
      &:hover {
        a {
          color: black;
          //color: #00e1ff;
        }
        transform: scale(1.01);
      }
      a {
        display: inline;
        font-size: 150%;
        text-decoration: none;
        color: white;
      }
    }

    .sticky {
      background-color: rgb(50, 173, 170);
      background-image: url("../assets/black-felt.png");
      //background: black;
      box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.1);
      position: fixed;
      top: 0;
      left: 0;
      height: 5re;
      min-height: 67px;
      width: 100%;
      .navbar {
        background-color: #037171;
        //background-color: black;
      }
      z-index: 5000;
    }

    .name {
      padding: 35vh 0px;
      z-index: 100;
      h1 {
        font-size: 500%;
      }
      h3 {
        font-size: 300%;
      }
      h5 {
        font-size: 200%;
      }
    }

    .fade-in {
      transform: translateZ(0);
      opacity: 0; /* make things invisible upon start */
      -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
      -moz-animation: fadeIn ease-in 1;
      animation: fadeIn ease-in 1;

      -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;

      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
      animation-duration: 1s;
    }
  }

  .body {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    margin: auto;
    background: rgb(255, 255, 255);
    color: black;
    overflow: hidden;
    z-index: 2;
  }

  #bio,
  #services {
    max-width: 2560px;
  }
  #projects,
  #contact {
    background-color: rgb(236, 236, 236);
  }

  #projects {
    height: 130vh;
    overflow: auto;
  }

  #bio,
  #projects,
  #services {
    min-height: 1080px;
  }
}
