.app-container{
    background-color: black;
    margin:0px;
    padding:0px;
    width: 100vw;
    @-webkit-keyframes slide {
        from { background-position: 0 0; }
        to { background-position: 1000px 0px; }
    }
    .jumbotron{
        font-family: 'Montserrat', sans-serif;
        color: white;
        text-align: center;
        padding:0px;
        margin:0px;
        height:100vh;
        min-height: 860px; //https://www.designyourway.net/diverse/darkpat/wallpaper_800x600_773.jpg
        width:100vw;
        background: rgb(128,128,128) url(http://s3.amazonaws.com/everystockphoto/fspid31/51/35/36/9/soft-teal-elementsweb-5135369-o.jpg) repeat 0 0;
        -webkit-animation: slide 60s linear infinite;
        
        position: relative;
        -webkit-transition: transform 0.2s;
        -moz-transition: transform 0.2s;
        -o-transition:transform 0.2s;
        transition: transform 0.2s;
        
        .arrowContainer{
            width: 100%;
            height: 10%;
            position: absolute;
            bottom: 0px;
            text-align: center;
            z-index: 100; 
            &:hover {
                a{
                    color: rgb(0, 225, 255);
                }
                transform: scale(1.01);
            }
            a {
                display:inline;
                font-size: 150%;
                text-decoration: none;
                color: white;
            }
        }
        

        .sticky {
            background: black;
            box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
            position: fixed;
            top: 0;
            left: 0;
            height: 7%;
            min-height: 67px;
            width: 100%;
            .navbar {
                background-color: black;
            }
            z-index: 100;
        }

        .name {
            padding: 18% 0px; 
            z-index: 100;
            h1 {
                font-size: 500%;
            }
            h3 {
                font-size: 300%;
            }
        }
        
        .fade-in {
            opacity:0;  /* make things invisible upon start */
            -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
            -moz-animation:fadeIn ease-in 1;
            animation:fadeIn ease-in 1;
        
            -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
            -moz-animation-fill-mode:forwards;
            animation-fill-mode:forwards;
        
            -webkit-animation-duration:1s;
            -moz-animation-duration:1s;
            animation-duration:1s;
        }

    }

    .body {
        height:100vh;
        min-height: 875px;
        width: 100vw;
        margin: 0px;
        background: rgb(255, 255, 255);
        color: black;
        overflow: hidden;
        z-index: 2;
    }
    

    #projects, #contact{
        background-color: rgb(236, 236, 236);
    }

}