@mixin hideTapHighlightColor() {
	//Prevent highlight colour when element is tapped
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
@mixin hardwareAccel() {
	//Improve performance on mobile/tablet devices
	transform: translateZ(0);
}

@mixin improveAntiAlias() {
	//Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

#main {
    padding: 6% 0;
    margin: 0 15%;
    .header {
        text-align: center;
        width: 100%;
        height: 10vh;
        display: block;
        .bar {
            margin: 1% auto;
            background-color: black;
            width: 50px;
            height: 5%;

        }
    }
    .container {
        width: 100%;
        max-width: 100%;
        margin:0;
        padding:0;
        .row {
            width: 100%;
            max-width: 100%;
            text-align: center;
            height: 100%;
            padding: 0;
            margin: 3% 0;

            li{
                display: block;
                padding: 0 5%;
                margin: auto;
                transform: translateZ(0);
                img {
                    transform: translateZ(0);
                    max-width: 100%;
                    max-height: 125px;
                    width: auto;
                    height: auto;
                    display: block;
                    margin: auto;
                    @include hideTapHighlightColor();
                    @include hardwareAccel();
                    @include improveAntiAlias();
                }
                h5 {
                    transform: translateZ(0);
                    display:block;
                    text-align: center;
                    margin: 5% auto;
                    width:100%;
                }
            }
        }
    }

    .about {
        float: left;
        width: 50%;
        height: 50%;
        text-align: center;
        padding: 5%;
        div {
            overflow: hidden;
            img {
                border-radius: 5px;
                border: 2px solid #0abab5; 
                height: 35%;
                width: 35%; 
                margin-bottom: 5%;
            }
            height: 50%;
            padding: 0 5%;
            text-align: center;
        }
        
    }

    .chart-container {
        float: right;
        width: 50%;
        height: 50%;
        padding: 5%;
    }
}
.chart {
    margin: 30px 0 0;
    &:first-child {
        margin: 0;
    }
}
.chart--horiz {
    overflow: hidden;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.label__holder{
    overflow: hidden;
    width: 100px;
    height: 100%;
    background-color: grey;
    text-align: center;
    z-index: 10;
    padding: 0 7px;
    line-height: 30px;
    color: black;
}
.chart__bar {
    $border-rad: 0px;
    height: 30px;
    margin-bottom: 15px;

    background-color: rgb(236, 236, 236); 
    border-top-right-radius: $border-rad;
    border-bottom-right-radius: $border-rad;
    z-index: 500;
    width: 100%;
    
}

.chart_percent {
    transform: translateZ(0);
    z-index: 499;
    background-color: #0abab5;
    height: 100%;
}


