<div id='main'>
	<div class="header">
    <h1 @slide *ngIf='inView' >Bio</h1>
    <div @slideOpposite *ngIf='inView' class="bar"></div>
  </div>
  <div class='container d-none d-md-inline-block'>
    <ul @staggerGrow *ngIf='iconView' class='row'>
      <li class='d-none d-sm-none d-md-inline-block col-md-4'>
	    <img src='../../assets/images/tailored.svg' alt='tailored' width="100%" height="125px"/>
	    <h5>Tailored</h5>
      </li>
      <li class='d-none d-sm-none d-md-inline-block col-md-4'>
	    <img src='../../assets/images/dynamic.svg' alt='dynamic' width="100%" height="125px"/>
        <h5>Dynamic</h5>
      </li>
      <li class='d-none d-sm-none d-md-inline-block col-md-4'>
		<img src='../../assets/images/user.svg' alt='user driven' width="100%" height="125px"/>
        <h5>User Driven</h5>
      </li>
    </ul>
  </div>
	<div class="row">
		<div class='about col-md-6 col-sm-12 col-12'>
			<div class='img'>
				<img src="../../assets/images/headshot.jpeg" alt="headshot" width='120' height="150">
			</div>
			<div>
				<h2>About Me</h2>
                Hey there! 
                I'm currently a Software Engineer at <a href='https://thewaltdisneycompany.com/'>The Walt Disney Company</a>, with over 3 years of experience in software development.
                Typically I enjoy working in the backend, setting up APIs, data pipelines and automating processes, but I am able to work on the front end as well. 
                I have experience building full-stack web applications in addition to data pipelining.
                In my free time I enjoy reading about and picking up some of the latest trends in software development, watching/playing sports, and motorcycling.
			</div>
		</div>
        <div class="chart-container col-md-6 col-sm-12 col-12">
			<div class="chart chart--dev">
				<ul @staggerSlide *ngIf='graphView' class="chart--horiz">
					<li class="chart__bar">
						<div class='chart_percent' style="width: 75%;">
							<div class="label__holder">
                                Front-End Development 
							</div>
						</div>	
					</li>
                    <li class="chart__bar">
						<div class='chart_percent' style="width: 95%;">
							<div class="label__holder">
								Back-End Development	
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 85%;">
							<div class="label__holder">
							    Database Design	
							</div>
						</div>
                    </li>
                    <li class="chart__bar">
						<div class='chart_percent' style="width: 75%;">
							<div class="label__holder">
							    Platform Architecture	
							</div>
						</div>
                    </li>
                    <li class="chart__bar">
						<div class='chart_percent' style="width: 95%;">
							<div class="label__holder">
							    Automation/Pipelining
							</div>
						</div>
					</li>
                </ul>
            </div>
        </div>


        <!--
		<div class="chart-container col-md-6 col-sm-12 col-12">
			<div class="chart chart--dev">
				<ul @staggerSlide *ngIf='graphView' class="chart--horiz">
					<li class="chart__bar">
						<div class='chart_percent' style="width: 90%;">
							<div class="label__holder">
                                HTML/CSS
							</div>
						</div>	
					</li>
                    <li class="chart__bar">
						<div class='chart_percent' style="width: 80%;">
							<div class="label__holder">
								JavaScript	
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 70%;">
							<div class="label__holder">
								Angular	
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 70%;">
							<div class="label__holder">
								React	
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 80%;">
							<div class="label__holder">
								MySQL
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 90%;">
							<div class="label__holder">
								Sequelize	
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 90%;">
							<div class="label__holder">
								NodeJS	
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 90%;">
							<div class="label__holder">
								Express
							</div>
						</div>
					</li>
                    <li class="chart__bar">
						<div class='chart_percent' style="width: 90%;">
							<div class="label__holder">
                                Python 
							</div>
						</div>
					</li>
                    <li class="chart__bar">
						<div class='chart_percent' style="width: 80%;">
							<div class="label__holder">
                                AWS
							</div>
						</div>
					</li>
                </ul>
			</div>
        </div>
        -->
	</div>
</div>
