<div id='main'>
	<div class="header">
    <h1 @slide *ngIf='inView' >Bio</h1>
    <div @slideOpposite *ngIf='inView' class="bar"></div>
  </div>
  <div class='container d-none d-md-inline-block'>
    <ul @staggerGrow *ngIf='iconView' class='row'>
      <li class='d-none d-sm-none d-md-inline-block col-lg-3 col-md-6'>
				<img src='../../assets/images/tailored.png' alt='tailored' width="175px" height="125px"/>
				<h5>Tailored</h5>
      </li>
      <li class='d-none d-sm-none d-md-inline-block col-lg-3 col-md-6'>
				<img src='../../assets/images/dynamic.png' alt='dynamic' width="175px" height="125px"/>
        <h5>Dynamic</h5>
      </li>
      <li class='d-none d-sm-none d-md-inline-block col-lg-3 col-md-6'>
				<img src='../../assets/images/pixelperfect.png' alt='pixel perfect' width="175px" height="125px"/>
        <h5>Pixel Perfect</h5>
      </li>
      <li class='d-none d-sm-none d-md-inline-block col-lg-3 col-md-6'>
				<img src='../../assets/images/user.png' alt='user driven' width="175px" height="125px"/>
        <h5>User Driven</h5>
      </li>
    </ul>
  </div>
	<div class="row">
		<div class='about col-md-6 col-sm-12 col-12'>
			<div class='img'>
				<img src="../../assets/images/fullsizeoutput_aba.jpg" alt="headshot" width='120' height="150">
			</div>
			<div>
				<h2>About Me</h2>
				Currently a Backend Developer at <a href='https://www.genomicprediction.com/'>Genomic Prediction</a>,
                I have two major roles as a developer. One involves implementing analytical pipelines and automating them inside Amazon Web Services (AWS).
                The other facet involves creating the backend for web portals which encompasses database and RESTful API design and implementation. 
                Displayed on the chart is my personal comfortability with some of my more commonly used technologies.
                I should note that this is a relative scale, and I am able to utilize all of these technologies in a professional setting if need be. 
			</div>
		</div>

		<div class="chart-container col-md-6 col-sm-12 col-12">
			<div class="chart chart--dev">
				<ul @staggerSlide *ngIf='graphView' class="chart--horiz">
					<li class="chart__bar">
						<div class='chart_percent' style="width: 90%;">
							<div class="label__holder">
                                HTML/CSS
							</div>
						</div>	
					</li>
                    <li class="chart__bar">
						<div class='chart_percent' style="width: 80%;">
							<div class="label__holder">
								JavaScript	
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 70%;">
							<div class="label__holder">
								Angular	
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 70%;">
							<div class="label__holder">
								React	
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 80%;">
							<div class="label__holder">
								MySQL
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 90%;">
							<div class="label__holder">
								Sequelize	
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 90%;">
							<div class="label__holder">
								NodeJS	
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 90%;">
							<div class="label__holder">
								Express
							</div>
						</div>
					</li>
                    <li class="chart__bar">
						<div class='chart_percent' style="width: 80%;">
							<div class="label__holder">
                                Python 
							</div>
						</div>
					</li>
                    <li class="chart__bar">
						<div class='chart_percent' style="width: 80%;">
							<div class="label__holder">
                                AWS	
							</div>
						</div>
					</li>
                </ul>
			</div>
		</div>
	</div>
</div>
