<div id='main'>
	<div class="header">
    <h1>About Me</h1>
    <div class="bar"></div>
  </div>
  <div class='container'>
    <ul class='row d-none d-sm-inline-block'>
      <li class='col-md-6 col-sm-12'>
        <div>
          <h5>Intuitive</h5>
        </div>
      </li>
      <li class='col-md-6 col-sm-12'>
        <div>
          <h5>Dynamic</h5>
        </div>
      </li>
      <li class='col-md-6 col-sm-12'>
        <div>
          <h5>Fast</h5>
        </div>
      </li>
      <li class='col-md-6 col-sm-12'>
        <div>
          <h5>User Driven</h5>
        </div>
      </li>
    </ul>
  </div>
	<div class="row">
		<div class='about col-md-6 col-sm-12 col-12'>
			<div class='img'></div>
			<h2>Who am I?</h2>	
			<div>
				Currently a Salesforce Developer at <a href='https://www.internetcreations.com/s/'>Internet Creations</a>,
				I work with clients and service all their development needs.
				I specialize in full-stack web development meaning I am able to handle just about every part of the website design and development process.
			</div>
		</div>

		<div class="chart-container col-md-6 col-sm-12 col-12">
			<div class="chart chart--dev">
				<ul class="chart--horiz">
					<li class="chart__bar">
						<div class='chart_percent' style="width: 80%;">
							<div class="label__holder">
									HTML
							</div>
						</div>	
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 65%;">
							<div class="label__holder">
									CSS
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 70%;">
							<div class="label__holder">
								JavaScript	
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 80%;">
							<div class="label__holder">
								Angular	
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 90%;">
							<div class="label__holder">
								React	
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 70%;">
							<div class="label__holder">
								jQuery	
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 80%;">
							<div class="label__holder">
								Python	
							</div>
						</div>
					</li>
					<li class="chart__bar">
						<div class='chart_percent' style="width: 70%;">
							<div class="label__holder">
								NodeJS	
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

	</div>

</div>