<div class='services-container'>
  <div class="services-header">
    <h1 @slide *ngIf='inView' class='heading'>Services</h1>
    <div @slideOpposite *ngIf='inView' class="bar"></div>
  </div>
  
  <div class='service-list'>
    <ul @staggerSlide @staggerSlide2 *ngIf='serviceView' class='services'>
      <li class='service'>
        <div class='image-container'>
          <img src="../../assets/images/design.svg" alt="Design" title='Design'>
        </div>
        <div class='content-container' id='design'>
          <h4>Front End Development</h4>
          <div>
            <p>
                The front end is what the user will see and interact with. 
                This is deceivingly difficult because in addition to making everything look and feel intuitive, 
                there also is a fair bit of data manipulation and state management at play behend the scenes. 
                I focus on dynamic, interactive, responsive and intuitive web interfaces for both web and mobile.
            </p>
          </div>
        </div>
      </li>
      <li class='service odd'>
        <div class='image-container'>
          <img src="../../assets/images/frontend.svg" alt="frontend" title='frontend'>
        </div>
        <div class='content-container' id='frontend'>
          <h4>Back End Development</h4>
          <div>
            <p>
                The back end is where all the logic that connects to your business/brand will go.
                This is arguably the most time consuming and in my opinion the most important part, since the backend bridges the information from the frontend to the backend, and vice-versa.
                I primarily write my backends using Node.js and Express.
                Below are some of the functions that the backend serves:
            </p>
            <ul>
              <li>Create, Read, Update and Delete (CRUD) database resources using a RESTful API</li>
              <li>Authentication Authorization and Validation of a user based system</li>
              <li>Syncing with other data endpoints and resources (AWS, third party APIs)</li>
            </ul>
          </div>
        </div>        
      </li>
      <li class='service'>
        <div class='image-container'>
          <img src="../../assets/images/backend.svg" alt="backend" title='backend'>
        </div>
        <div class='content-container' id='backend'>
          <h4>Database Architecture</h4>
          <div>
            <p>
                Designing an implementing a database is no small task. 
                This is the underlying structure that your whole web app is based upon, and probably more. 
                When it comes to databases you have two options (SQL and NoSQL), the benefits for each rely solely on your business needs and how you plan on using your database.
                I have experience working with both SQL or NoSQL based databases and designing for each of their strengths.
            </p>
          </div>
        </div>        
      </li>
      <li class='service odd'>
        <div class='image-container'>
          <img src="../../assets/images/database.svg" alt="database" title='database'>
        </div>
        <div class='content-container' id='database'>
          <h4>Deployment, Integration and Pipelining</h4>
          <div>
            <p>
                After your application is deployed it needs to be available to the outside world, and has to be reliably updated and scaled for the traffic you are receiving.
                Thats where Continuous Deployment and Continuous Integration (CI/CD) comes in. 
                I mainly use AWS and Jenkins to construct my pipelines and set them up to autodeploy new features when ready. 
                I like to create a development, a staging and a production instance of the web app in order to keep everything working available, and to test out new features while safely replicating production conditions.
            </p> 
          </div>
        </div>        
    </li>
    </ul>
  </div>
 

</div>
