.services-container {
    margin: 0px;
    padding: 5% 10%; 
    width: 100%;
    height: 100vh;
    min-height: 875px;
    .services-header {
        transform: translateZ(0);
        //margin: 0 15%;
        //margin-top: 90px;
        text-align: center;
        width: 100%;
        height: 10vh;
        min-height: 90px;
        display: block;
        .bar {
            margin: 1% auto;
            background-color: black;
            width: 50px;
            height: 5%;
        }
    }

    .services {
        transform: translateZ(0);
        list-style: none;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        .service {
            transform: translateZ(0);
            display: flex;
            @media screen and (max-width:991px){
                height: auto;
                // height: 180px;
                margin-bottom: 3%; 
            }
            @media screen and (min-width:992px){
                margin-bottom: 1%;
                min-height: 15%;
            }
            
            .image-container{
                transform: translateZ(0);
                @media screen and (max-width:991px){
                    display: none;
                }
                @media screen and (min-width:992px){
                    
                    float:left;
                    width: 10%;
                    height: 100%; 
                    text-align:center;
                    padding: 0;
                    display: flex;
                    margin: auto; 
                    img {
                        margin: auto;
                        width: 75px;
                        height: 75px;
                    }

                }
            }

            .content-container{
                transform: translateZ(0);
                height: 100%;
                float:right;
                overflow: hidden;
                @media screen and (max-width:991px){
                    width: 100%;
                    padding: 5%;
                }
                @media screen and (min-width:992px){
                    width: 90%;
                }
                padding: 1.5%;
                font-size: 80%;
                color: black;
                box-shadow: 1px 1px 3px #888888;
                max-height: 100%;
                h4 {
                    text-decoration: underline;
                }
                div {
                    padding:0.5%;
                }
            }
            
        }

        #frontend, #database {
            background: rgb(236,236,236);
        }

        #design, #backend {
            background: #0abab0;
        }
    }
}
