<div class='services-container row'>
  <div class='left p-none col-12 col-sm-12 col-md-12 col-lg-6'>
    <ul>
      <li>
        <div (mouseenter)='onClick("research")'>
          <h2>Research</h2>
          <div *ngIf='research' (click)='onClick("research")' class='service-details d-lg-none d-md-block d-sm-block d-block'>
            Assisting you with your vision and gathering all the necessary tools/knowledge needed to make it happen.
          </div>
        </div>
      </li>
      <li>
        <div (mouseenter)='onClick("structure")'>
          <h2>Structure</h2>
          <div *ngIf='structure' class='service-details d-lg-none d-md-block d-sm-block d-block'>
            Gather all information and structure it in a way that will make sense
          </div>
        </div>
      </li>
      <li>
        <div (mouseenter)='onClick("strategy")'>
          <h2>Concept & Strategy</h2>
          <div *ngIf='strategy' class='service-details d-lg-none d-md-block d-sm-block d-block'>
              Discussing approach to development and planning out stages.
              This provides a general foundation for development work.
          </div>
        </div>
      </li>
      <li>
        <div (mouseenter)='onClick("dev")'>
          <h2>Development</h2>
          <div *ngIf='dev' class='service-details d-lg-none d-md-block d-sm-block d-block'>
            Taking ideas and transforming them into a tangible product that you will be proud of.
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="right d-none d-sm-none d-md-none d-lg-block col-lg-6">
    <div *ngIf='research' (click)='onClick("research")' class='service-details'>
      Assisting you with your vision and gathering all the necessary tools/knowledge needed to make it happen.
    </div>
    <div *ngIf='structure' class='service-details'>
      Gather all information and structure it in a way that will make sense
    </div>
    <div *ngIf='strategy' class='service-details'>
      Discussing approach to development and planning out stages.
      This provides a general foundation for development work.
    </div>
    <div *ngIf='dev' class='service-details'>
      Taking ideas and transforming them into a tangible product that you will be proud of.
    </div>
  </div>

</div>
