<div class='services-container'>
  <div class="services-header">
    <h1 @slide *ngIf='inView' class='heading'>Services</h1>
    <div @slideOpposite *ngIf='inView' class="bar"></div>
  </div>
  
  <div class='service-list'>
    <ul @staggerSlide @staggerSlide2 *ngIf='serviceView' class='services'>
      <li class='service'>
        <div class='image-container'>
          <img src="../../assets/images/design.svg" alt="Design" title='Design'>
        </div>
        <div class='content-container' id='design'>
          <h4>UI/UX Design</h4>
          <div>
            <p>
              UI/UX design involves planning the layout and structure of the web application, 
              how it will look on mobile and how the user will interact with various components.
              Once that is decided, I generate a mockup (or blueprint) of the site, usually on paper or Adobe XD.
            </p>
        </div>
        </div>  
      </li>
      <li class='service odd'>
        <div class='image-container'>
          <img src="../../assets/images/frontend.svg" alt="frontend" title='frontend'>
        </div>
        <div class='content-container' id='frontend'>
          <h4>Front End Development</h4>
          <div>
            <p>
              The front end is what the user will see and interact with. 
              This involves building out the display (ideally so that it matches the mockup).
              I focus on dynamic, interactive, responsive and intuitive web interfaces for both web and mobile.
            </p>
          </div>
        </div>        
      </li>
      <li class='service'>
        <div class='image-container'>
          <img src="../../assets/images/backend.svg" alt="backend" title='backend'>
        </div>
        <div class='content-container' id='backend'>
          <h4>Back End Development</h4>
          <div>
            <p>
              The back end is where all the logic that connects to your business or brand will go.
              Sometimes this is not necessary though, if all you want is to display static information for example.<br>
              You will require a back end if your site integrates with:
            </p>
          <ul>
              <li>A Database (or anywhere you store your electronic records)</li>
              <li>3rd Party Service (Google Maps, Email Service, etc.)</li>
              <li>Another CMS</li>
            </ul>
          </div>
        </div>        
      </li>
      <li class='service odd'>
        <div class='image-container'>
          <img src="../../assets/images/database.svg" alt="database" title='database'>
        </div>
        <div class='content-container' id='database'>
          <h4>Database Services</h4>
          <div>
            The database is what will store all of your information in bulk.
            It's another optional feature and not always necessary depending on the site's desired functionality.<br>
            My database services include:
            <ul>
              <li>Building a database from Scratch</li>
              <li>Database Migration</li>
              <li>Connecting and integrating a database with the back end</li>
            </ul>
          </div>
        </div>        
    </li>
    </ul>
  </div>
 

</div>
