.services-container {
    margin: 0px;
    padding: 0px;

    .p-none{
        padding-right:0;
        padding-left:0;
    }
    .left{
        float: left;
        height: 100vh;
        min-height: 850px;
        width: 50%;
        padding-top: 7%;
        padding-left: 10%;

        .services-list {
            margin: 0px;
            padding:0px;
            list-style: none;
            .service-item {
                margin:0px;
                padding:0px;
                div {
                    width: 100%;
                    padding: 5%;
                    -webkit-transition: transform 0.2s;
                    -moz-transition: transform 0.2s;
                    -o-transition: transform 0.2s;
                    transition: transform 0.2s;
                    
                    &:hover {
                        h2{
                            -webkit-transition: transform 0.2s;
                            -moz-transition: transform 0.2s;
                            -o-transition: transform 0.2s;
                            transition: transform 0.2s;
                            transform: translateX(5%);
                        }
                        background-color: #0abab5;
                    }
                }
            }
        }
    }
    .right {
        background-color: rgb(236, 236, 236);
        float: right;
        color: black;
        height: 100vh;
        width: 50%;
        padding-top: 7%;
        .service-details {
            margin: 15% 15%;
            padding: 0px;
        }
    }
    
}
