/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } } 

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
@-moz-keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
@-webkit-keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideInFromTop{
    0% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(0);
    }
}
@-moz-keyframes slideInFromTop{
    0% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(0);
    }
}
@-webkit-keyframes slideInFromTop{
    0% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes slideInFromBottom{
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0);
    }
}
@-moz-keyframes slideInFromBottom{
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0);
    }
}
@-webkit-keyframes slideInFromBottom{
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0);
    }
}
html{
    scroll-behavior: smooth;
    margin:0px;
    padding:0px;
    body {
      margin:0px;
      padding:0px;
    }
}

html {
  font-size: 0.75rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.75rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.75rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}
